@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Pretendard';
  font-weight: 700;
  font-display: swap;
  src:
    local('Pretendard Bold'),
    url(../assets/fonts/woff2/Pretendard-Bold.woff2) format('woff2'),
    url(../assets/fonts/woff/Pretendard-Bold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 600;
  font-display: swap;
  src:
    local('Pretendard SemiBold'),
    url(../assets/fonts/woff2/Pretendard-SemiBold.woff2) format('woff2'),
    url(../assets/fonts/woff/Pretendard-SemiBold.woff) format('woff');
}

@font-face {
  font-family: 'Pretendard';
  font-weight: 400;
  font-display: swap;
  src:
    local('Pretendard Regular'),
    url(../assets/fonts/woff2/Pretendard-Regular.woff2) format('woff2'),
    url(../assets/fonts/woff/Pretendard-Regular.woff) format('woff');
}

@font-face {
  font-family: '1973MimiWorld';
  src: url(/fonts/1973MimiWorldR.woff) format('woff'),
       url(/fonts/1973MimiWorldR.woff2) format('woff2'); 
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '1973MimiWorld';
  src: url(/fonts/1973MimiWorldB.woff) format('woff'),
       url(/fonts/1973MimiWorldB.woff2) format('woff2'); 
  font-weight: bold;
  font-style: normal;
}

@layer base {
  body {
    @apply text-black-100;
  }
}